body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Peter_Parker{
    color: orange;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
} 
.half-width img{
    width: 80%;
}
.half-width a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.dream_big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
}
.ex_div{
    display: flex;
}
.ex_div_1{
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid tomato;
    border-radius: 10px;
}
.ex_div_2{
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid blue;
    border-radius: 10px;
}
footer{
    text-align: center;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}